@charset "UTF-8";

body{

    background-image: linear-gradient(to right,#7353BA,#2F195F);

}

main{

background-color:white;
border-radius: 10px;
box-shadow: 5px 5px 15px black;
width: 600px;
padding: 10px;
margin:auto

}

h1{
    color: #EFC3F5;
    text-align: center;
    text-shadow:1px 1px 2px black;
}

p{

text-align: justify;

}